body {
    background-color: lightblue;
  }
  p {
    color: black;
  }

  

  h1 {
    font-weight: bold;
    font-family: monospace;
    font-size: 40px;
    text-align: center
  }

 .imagesdiv {
display: flex;
justify-content: center;
border-style: groove;
background-color: white;
}


  .image {
    height: 180px;
  }
  
  .indexdiv {
    border-style: groove;
    background-color: greenyellow;
  }

  li {
    display: flex;
    padding-bottom: 20px;
  }

  li img {
    width: 150px;
    height: auto;
    border-style: groove;
  }

  li span {
    flex-grow: 1;
  }

  .ssdiv {
    border-style: groove;
    background-color: greenyellow;
  }



 